@using AdminPoC.ViewModels;
@model CreateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Create">
    @foreach (var property in Model.Properties)
    {
        @Html.Label(property.Name, property.Name)
        @Html.Editor(property.Name)
    }
    @foreach (var property in Model.ComplexProperties)
    {
        @Html.DropDownList(
            property.Name,
            property.Values);
    }
    <button>Create</button>
</form>