@using AdminPoC.ViewModels;
@model CreateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-controller="Admin" asp-action="Create">
    @foreach (var property in Model.Properties)
    {
        @Html.Label(property.Name, property.Name)
        @Html.Editor(property.Name)
    }
    <input type="hidden" value="@Model.EntityName" name="entityName"/>
    <button>Create</button>
</form>