@model AdminPoC.ViewModels.CreateViewModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-action="Create" style="display: flex; flex-direction: column">
    @foreach (var property in Model.Properties)
    {
        @Html.Label(property.Name, property.Name)
        <formInput for-type="property.Type" for-name="property.Name" class="form-control"> </formInput>
    }

    @foreach (var property in Model.ComplexProperties)
    {
        @Html.Label(property.Name, property.Name)
        @Html.DropDownList(
            property.Name,
            property.Values,
            new
            {
                @class= "form-select"
            })
        ;
    }
    <button class="btn btn-dark">Create</button>
</form>