@using NonFactors.Mvc.Grid
@model AdminPoC.ViewModels.IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="/css/mvc-grid.css" rel="stylesheet">
</head>
<body>

@Html.ActionLink("Create", "Create")
<div>
    @(Html
        .Grid(Model.Entities)
        .Build(columns =>
        {
            foreach (var column in Model.Columns)
            {
                columns
                    .Add(column.Func)
                    .Titled(column.Name)
                    .Named(column.Name)
                    .Sortable(true)
                    .Filterable(true);
            }

            foreach (var action in Model.Actions)
            {
                columns.Add(model =>
                    Html.ActionLink(
                        action.Name,
                        action.Action,
                        ViewContext.RouteData.Values["controller"].ToString(),
                        new
                        {
                            id = model.PrimaryKey,
                        },
                        new { }
                        ));
            }
        })
        .Using(GridFilterMode.Header)
        .Empty("No data found")
        .Filterable()
        .Sortable()
        .Pageable())
</div>
<script src="/js/mvc-grid.js"></script>
<script>

           document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
        </script>
</body>
</html>